{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/LogoEmpresa.webp' %}"/>
    <title>Formulario de registro - MFT Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'css/styles.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" style="background-color: #222;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}"
                style="color: rgb(153, 132, 104); font-weight: bold;">
                <img src="{% static 'assets/LogoEmpresa.webp' %}" alt="Logo" width="50" class="me-2 rounded">
                MFT Store
            </a>

            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="d-flex ms-auto align-items-center gap-2">
                    <!-- Botón de inicio de sesión -->
                    <a href="{% url 'formulario_ingreso' %}" class="btn fw-bold" style="color: rgb(235,185,93);">Iniciar sesión</a>

                    <!-- Botón de registro -->
                    <a href="{% url 'index' %}" class="btn fw-bold" style="color: rgb(235,185,93);">Inicio</a>

                    <!-- Barra de búsqueda -->
                    <form class="d-flex ms-3" role="search">
                        <input class="form-control" type="search" placeholder="Buscar productos..." aria-label="Search">
                        <button class="btn btn-outline-light ms-2" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>


        <div class="container mt-4 pt-4">
            <h1 class="text-center">Registro de usuario</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form id="formulario_registro" novalidate method="post" action="">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" required autocomplete="on"
                                        placeholder="Ingrese su nombre">
                                    <small class="text-danger" id="nombre-error"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" name="apellido" id="apellido" required autocomplete="on"
                                        placeholder="Ingrese su apellido">
                                    <small class="text-danger" id="apellido-error"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="usuario" class="form-label">Nombre de Usuario <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" name="usuario" id="usuario"
                                        placeholder="Ingrese un nombre de usuario">
                                    <small class="text-danger" id="usuario-error"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="mail" class="form-label">Correo Electrónico <span style="color: red;">*</span></label>
                                    <input type="email" class="form-control" name="mail" id="mail" required autocomplete="on"
                                        placeholder="Ingrese su correo electrónico">
                                    <small class="text-danger" id="mail-error"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="pass" class="form-label">Contraseña <span style="color: red;">*</span></label>
                                    <input type="password" class="form-control" name="pass" id="pass" required autocomplete="on"
                                        placeholder="Ingrese su contraseña">
                                    <small class="text-danger" id="pass-error"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="pass2" class="form-label">Repita Contraseña <span style="color: red;">*</span></label>
                                    <input type="password" class="form-control" name="pass2" id="pass2" required autocomplete="off"
                                        placeholder="Repita su contraseña">
                                    <small class="text-danger" id="pass2-error"></small>
                                </div>

                                <span style="color: red;">*</span> = Campo Obligatorio 

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary"
                                        style="width: 40%; margin-bottom: 5px">Registrar Usuario</button>
                                </div>

                                <div class="d-grid">
                                    <button type="reset" class="btn btn-secondary" style="width: 40%;">Limpiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->
        <footer class="mt-5">
            <p>Todos los derechos reservados. MFT Store &copy; 2025</p>
            <p><a href="mailto:accesorios@tienda.com" style="color: #ddd">¡Contáctanos a través de nuestro email!</a>
            </p>
            <p><a href="tel:+56912345678" style="color: #ddd">¡Y si prefieres una llamada!: +56912345678</a></p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

        <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>